html {
    background: url(https://raw.githubusercontent.com/tankTopTaro/tankTopTaro.Images/main/DinoBocchi.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

article {
    flex: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.5); 
    color:white; 
    width: 100%; 
    min-height: 50px; 
}

#article2 {
    background-color: burlywood;
}

